.active{
    color: rgb(44, 182, 104);
   
}

/* ul li a{
    padding-bottom: 8px;
} */
.banner-title{
    -webkit-clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
    clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
}